
/*copy paste*/
img {
  border-style: none;
  width: 100%;
  display: block;
}

.top{
  display: flex;
  flex-flow: column;
}


#logo {
  width: 100%;
  display: none;
}

#mobilelogo{
  width: 80%;
  padding-right: 30px;
}

#search {
  padding-top: 10px;
  width:75%;
}

#channel {
  width: 60%;
}


.pagestart {
  display:flex;
  flex-flow:row;
}

/*#channel {
  flex: 1;
}
#topnav {
  flex: 3;
}*/



body{
  margin: 0 auto;
}
.input[type=text]{
  width: 130px;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
  color:#208a43;
  font-weight: lighter;
  text-align:center;
}

h2 {
  color: #12572c;
  font-size: 2em;
  font-family:'Roboto Condensed', sans-serif;
  text-decoration: underline;
}


h3 {
  font-size: .75em;
  text-align:right;
  }

p{
  font-size: 0.9em;
  font-family: 'Libre Baskerville', serif;
  color: black;
}

#topnav li {
  float: right;
  list-style: none;
  margin: 0;
  padding: 0;
}

#submit a:link{
  font-family:'Roboto Condensed', sans-serif;
  display: block;
  color: #ffffff;
  background-color: #f1ad1d;
  text-align: center;
  text-decoration: none;
  padding: 6px;
  border-style: solid;
  border-width: medium;
  border-color: #ffffff;
}
#submit a:visited{
  font-family:'Roboto Condensed', sans-serif;
  display: block;
  color: #ffffff;
  background-color: #f1ad1d;
  text-align: center;
  text-decoration: none;
  padding: 6px;
  border-style: solid;
  border-width: medium;
  border-color: #ffffff;
}
#submit a:active{
  font-family:'Roboto Condensed', sans-serif;
  display: block;
  color: #000000;
  background-color: white;
  text-align: center;
  text-decoration: none;
  padding: 6px;
  border-style: solid;
  border-width: medium;
  border-color: #ffffff;
}
#submit a:hover{
  font-family:'Roboto Condensed', sans-serif;
  display: block;
  color: #12572c;
  background-color: white;
  text-align: center;
  text-decoration: none;
  padding: 6px;
  border-style: solid;
  border-width: medium;
  border-color: #ffffff;
}
#donate a:link {
  font-family:'Roboto Condensed', sans-serif;
  display: block;
  color: #ffffff;
  background-color: #1d65d4;
  text-align: center;
  text-decoration: none;
  padding: 6px;
  border-style: solid;
  border-width: medium;
  border-color: #ffffff;
}
#donate a:visited {
  font-family:'Roboto Condensed', sans-serif;
  display: block;
  color: #ffffff;
  background-color: #1d65d4;
  text-align: center;
  text-decoration: none;
  padding: 6px;
  border-style: solid;
  border-width: medium;
  border-color: #ffffff;
}
#donate a:active{
  font-family:'Roboto Condensed', sans-serif;
  display: block;
  color: #;
  background-color: white;
  text-align: center;
  text-decoration: none;
  padding: 6px;
  border-style: solid;
  border-width: medium;
  border-color: #ffffff;
}
#donate a:hover{
  font-family:'Roboto Condensed', sans-serif;
  display: block;
  color: #12572c;
  background-color: white;
  text-align: center;
  text-decoration: none;
  padding: 6px;
  border-style: solid;
  border-width: medium;
  border-color: #ffffff;
}

#topnav li {

  list-style: none;
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  flex-flow: wrap;
}

#container{
    width: 95%;
    background-color: #fff;
    margin: 0 auto;
    text-decoration: none;
}

.header, .main, .footer{
  flex: 1 100%;
  padding: 10px;
}


#navigation li{
    display:block;
	  padding: 0px;
		background: #fff;
		margin: auto;
	  box-shadow: 0 1.5px 0 0 rgba(0,0,0,0.1);
	  list-style-type: none;
    margin-left: 0;
    padding: 0;
    border: 0;
    width: 100%;
}
#navigation a:link, a:visited {
  font-family:'Roboto Condensed', sans-serif;
  display: block;
  color: #ffffff;
  background-color: #208a43;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  border-left-style: solid;
  border-left-width:thin;
  border-color: none;
}

#navigation a:hover, a:active {
  font-family:'Roboto Condensed', sans-serif;
  color: #12572c;
  background-color: #ffffff;
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  border-left-style: solid;
  border-left-width:thin;
  border-color: none;
}

	.item {
	color: #fff;
	padding: 15px;
	margin: 5px;
	background: #208a43;
	border-radius: 3px;
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
}

#navigation {
  display: none;
}

.menu-trigger {
  display:block;
  background-color: black;
  order: 1;
  font-size: 4.5em;
  width: 1.5em;
  text-decoration: none;
  text-align: center;
}

	p {
		width: 95%;
		margin: 1em auto;
	}
	#sidebar {
		display: none;
	}
  #logo {
    display: none;
  }
 .top {
  display: flex;
  flex-flow:row;
}
.menu-trigger {
  order:1;
}

#mobilelogo {

  order:2;
}

#search {
  order:3;
}

@media screen and (min-width: 600px) {
	.navcontainer {
    justify-content: space-around;
    justify-content: flex-start;
    display:flex;
    flex-flow:row;
	}
  .menu-trigger {
    display: none;
  }
	p {
		width: 80%;
		margin: 1em auto;
	}
	#sidebar {
		display: block;
	}

  #logo{
    display: block;
  }
  #mobilelogo{
    display: none;
  }
  #search{
    display: none;
  }
}



@media screen and (min-width: 1000px) {
	.navcontainer {
		flex-direction: row;;
		justify-content: flex-start;
		justify-content: space-around;
  }
	p {
		width: 80%;
		margin: 1.5em auto;
	}

  #logo{
    display: block;
  }


 #mobilelogo{
   display: none;
 }
 #search{
   display: none;
 }
  .top {
    display: flex;
    flex-flow: row;
  }
  #channel {
    width:25%;
  }

	p {
		width: 80%;
		max-width: 60em;
		margin: 1.5em auto;
	}
}
