
/*copy paste*/

img {
  border-style: none;
  width: 100%;
  display: block;
}

.videowrapper {
  height: 200%;
}

.top{
  display: flex;
  flex-flow: column;
}

.videowrapper{
  position: relative;
  padding-bottom:56.25%;
  padding-top:30px;
  height:0;
  overflow:hidden;
}

.videowrapper iframe {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

#logo {
  width: 100%;
  display: none;
}

#mobilelogo{
  width: 80%;
  padding-right: 30px;
}


#channel {
  width: 60%;
}

#Logo-Desktop{
  display: none;
}

input {
  display: flex;
}

form {
  display: table;
}

.pagestart {
  display:flex;
  flex-flow:row;
}

/*#channel {
  flex: 1;
}
#topnav {
  flex: 3;
}*/



body{
  margin: 0 auto;
}

.input[type=text]{
  width: 130px;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
  color:#208a43;
  font-weight: lighter;

}

h2 {
  color: #12572c;
  font-size: 2em;
  font-family:'Roboto Condensed', sans-serif;
  text-decoration: underline;
  text-align: center;
}


h3 {
  font-size: .75em;
  text-align:center;
  }

h4{
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
  color:#208a43;
  font-weight: lighter;
}

p{
  font-size: 0.9em;
  font-family: 'Libre Baskerville', serif;
  color: black;
  line-height: 1.5em;
}

#topnav li {
  float: right;
  list-style: none;
  margin: 0;
  padding: 0;
}

#submit a:link{
  font-family:'Roboto Condensed', sans-serif;
  display: block;
  color: #ffffff;
  background-color: #f1ad1d;
  text-align: center;
  text-decoration: none;
  padding: 6px;
  border-style: solid;
  border-width: medium;
  border-color: #ffffff;
}
#submit a:visited{
  font-family:'Roboto Condensed', sans-serif;
  display: block;
  color: #ffffff;
  background-color: #f1ad1d;
  text-align: center;
  text-decoration: none;
  padding: 6px;
  border-style: solid;
  border-width: medium;
  border-color: #ffffff;
}
#submit a:active{
  font-family:'Roboto Condensed', sans-serif;
  display: block;
  color: #000000;
  background-color: white;
  text-align: center;
  text-decoration: none;
  padding: 6px;
  border-style: solid;
  border-width: medium;
  border-color: #ffffff;
}
#submit a:hover{
  font-family:'Roboto Condensed', sans-serif;
  display: block;
  color: #12572c;
  background-color: white;
  text-align: center;
  text-decoration: none;
  padding: 6px;
  border-style: solid;
  border-width: medium;
  border-color: #ffffff;
}
#donate a:link {
  font-family:'Roboto Condensed', sans-serif;
  display: block;
  color: #ffffff;
  background-color: #1d65d4;
  text-align: center;
  text-decoration: none;
  padding: 6px;
  border-style: solid;
  border-width: medium;
  border-color: #ffffff;
}
#donate a:visited {
  font-family:'Roboto Condensed', sans-serif;
  display: block;
  color: #ffffff;
  background-color: #1d65d4;
  text-align: center;
  text-decoration: none;
  padding: 6px;
  border-style: solid;
  border-width: medium;
  border-color: #ffffff;
}
#donate a:active{
  font-family:'Roboto Condensed', sans-serif;
  display: block;
  color: #;
  background-color: white;
  text-align: center;
  text-decoration: none;
  padding: 6px;
  border-style: solid;
  border-width: medium;
  border-color: #ffffff;
}
#donate a:hover{
  font-family:'Roboto Condensed', sans-serif;
  display: block;
  color: #12572c;
  background-color: white;
  text-align: center;
  text-decoration: none;
  padding: 6px;
  border-style: solid;
  border-width: medium;
  border-color: #ffffff;
}

#topnav li {

  list-style: none;
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  flex-flow: wrap;
}

#container{
    width: 95%;
    background-color: #fff;
    margin: 0 auto;
    text-decoration: none;
}

.header, .main, .footer{
  flex: 1 100%;
  padding: 10px;
}


#navigation li{
    display:block;
	  padding: 0px;
		background: #fff;
		margin: auto;
	  box-shadow: 0 1.5px 0 0 rgba(0,0,0,0.1);
	  list-style-type: none;
    margin-left: 0;
    padding: 0;
    border: 0;
    width: 100%;
}
#navigation a:link, a:visited {
  font-family:'Roboto Condensed', sans-serif;
  display: block;
  color: #ffffff;
  background-color: #208a43;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  border-left-style: solid;
  border-left-width:thin;
  border-color: none;
}

#navigation a:hover, a:active {
  font-family:'Roboto Condensed', sans-serif;
  color: #12572c;
  background-color: #ffffff;
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  border-left-style: solid;
  border-left-width:thin;
  border-color: none;
}

	.item {
	color: #fff;
	padding: 15px;
	margin: 5px;
	background: #208a43;
	border-radius: 3px;
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
}

#navigation {
  display: none;
}

.menu-trigger {
  display:block;
  background-color: #208A43;
  color: white;
  order: 1;
  font-size: 4.5em;
  width: 1.5em;
  text-decoration: none;
  text-align: center;
}

.maintext{
  padding: 15px;
}
.maintext_contact{
  padding: 15px;
  text-align: left;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

#slideshow{
  height: 320px;
}

.three {
  display: flex;
  flex-flow: row;
}

.menu-trigger {
  font-size: 7.5em;
  order:1;
  flex:1;
}

#mobilelogo {
  width: 110%;
 padding-left:.5em;
  order:2;
  flex:1;
}

#search {
  padding-top:10px;
  order:3;
  flex:1;
}


	#sidebar {
		display: none;
	}
  #logo {
    display: none;
  }

#channel2 {
  display: none;
}

/*.homecontent {
	display: flex;
	flex-flow: row;
	margin-top: 20px;
}

.videos {
	display: flex;
	order:1;
	flex: 1 auto;
	flex-flow: column;
	max-width: 100%;
}

.twitter-timeline{
	order:2;
	flex: 1 auto;
}*/
.catfinancial a{
  text-decoration: underline;
  color: black;
  text-align: center;
}


@media screen and (min-width: 600px) {
	#navigation {
    justify-content: space-around;
    justify-content: flex-start;
    display:flex;
    flex-flow:row;
    padding-left:0;
	}
.ds {
  display:flex;
  flex-flow:column;
  float:right;
  padding-top:10px;
}

.options {
  display: flex;
  flex-flow: row;
}
.option1 {
  display:flex;
  flex-flow:column;
  flex:1;

}

.option2 {
  display:flex;
  flex-flow:column;
  flex:1;

}


#click {
  padding:0;
}

#channel{
  width:50%;
}
.ds li {
  width: 240px;
}
  .menu-trigger {
    display: none;
  }



  #desktop{
    display: none;
  }

  .boardmembers{
    display: flex;
    flex-flow:row;
    flex-wrap: wrap;
  }

.board1{
  flex: 1;
  margin-right: 20px;
}


	p {
		width: 80%;
		margin: 1em auto;
	}
	#sidebar {
		display: block;
	}

  #logo{
    display: block;
  }
  #mobilelogo{
    display: none;
  }
  #search{
    display: none;
  }
 #Logo-Desktop{
   display: block;
 }

 #slideshow{
     height: 100%;
   }
   p {
     width: 80%;
     margin: 1.5em auto;
    line-height: 2em;
   }
   /*.twitter-timeline{
   			display: flex;
   			flex-flow: column;
   			order:1;
   			flex: 1 100%;
   		}

      .homecontent{
 			display: flex;
 			flex-flow: column;
 		}
 		.videos{
 			max-width: 60%;
 			border-right: none;
 		}*/
    .staff{
      display: flex;
      flex-flow: row;
    }
    #sean{
      order: 1;
    }
    .intro{
      order: 2;
      max-width: 600px;
    }
}



@media screen and (min-width: 1000px) {
	.navcontainer {
		flex-direction: row;;
		justify-content: flex-start;
		justify-content: space-around;
  }

.logox {
  display:flex;
  flex-flow:row;
}
  #channel2 {
    display:block;
    width:50%;
    height:50%;
    /*padding-top: 50px;
    padding-right: 20px;
    padding-top: 20px;*/
  }
  .ds{
  flex-flow: row;
  padding-top: 0px;
  padding-bottom: 0px;
  }
  #Logo-Desktop{
    width: 70%;
    height: 100%;
    /*padding-right: 200px;*/
    padding-top: -20px;
  }
  #channel {
    display:none;
  }
	p {
		width: 80%;
		margin: 1.5em auto;
    line-height: 2em;
	}

  #logo{
    display: block;
  }


 #mobilelogo{
   display: none;
 }
 #search{
   display: none;
 }
  .top {
    display: flex;
    flex-flow: row;
  }
  #channel {
    width:25%;
  }

	p {
		width: 80%;
		max-width: 60em;
		margin: 1.5em auto;
	}
.staff{
  display: flex;
  flex-flow: row;
}
#sean{
  order: 1;
}
  .whatiscat{
    display: flex;
    flex-flow: row;
  }

  .catvideo iframe{
    position:relative;
    width: 100% auto;
  }
  .catvideo{
    order:1;
    padding-left: 20px;
  }
  .intro{
    order:2;
    max-width: 1000px;
  }
  #catmap{
    width: 50%;
  }
  .twitter-timeline{
  			order:2;
  			flex: 1 auto;
        max-width: 50%;
  		}

      .homecontent{
			display: flex;
			flex-flow: row;
		}
		.videos{
      display: flex;
      flex-flow: column;
			max-width: 60%;
			border-right: none;
      order: 1;
      flex: 0.5;
		}
    .video1{
      display: flex;
      flex-flow: column;
    }
    .video2{
      display: flex;
      flex-flow: column;
    }
    .video3{
      display: flex;
      flex-flow: column;
    }
    .video4{
      display: flex;
      flex-flow: column;
    }
  /*.videos{
  position: relative;
  padding-bottom:56.25%;
  padding-top:30px;
  height:0;
  overflow:hidden;
}*/
}






.footertext {
  display: block;
  background-color: #208a43;
}

.footertext p {
  padding-top: 20px;
  color:white;
}

  .bottomlogo ul {

    list-style-type: none;

    display: flex;

    flex-flow: row;

    justify-content: center;

    margin:0;

  }

  #fb{

    flex: 1 auto;

    width: 60px;

  }

  #tw {

    flex: 1 auto;

    width: 60px;

  }

  #yt {

    flex: 1 auto;

    width: 60px;

  }

  #vm {

    flex: 1 auto;

    width: 60px;

  }

  #footer{
    text-align: left;
  }
/*donate*/
#click {
  font-size: 35px;
  font-family:'Roboto Condensed', sans-serif;
  display: block;
  color: #ffffff;
  background-color:#1d65d4;
  text-align: center;
  text-decoration: none;
  padding: 6px;
  border-style: solid;
  border-width: medium;
  border-color: #ffffff;
  height:50px;
  margin: 0 20%;
}

#banks {
  display:flex;
  flex-flow:row;
  list-style: none;
}


.options li {
  list-style: none;
}
#check{
  color: red;
  font-size:1.2em;
}
#check li{
  color: black;
  display:inline-table;
  border-style: solid;
  border-width:thin;
  list-style: none;
  padding: 0;
  width: 70%;
}

.donorcontainer {
 text-align:center;
}

.talent li {
  list-style: none;
}

.producer li{
  list-style: none;
}

.director li {
  list-style: none;
}

.prodcuer li {
  list-style: none;
}

.questions {
  text-align: center;
}
.master {
  flex:1;
}

.visa {
  flex:1;
}

.ae {
  flex:1;
}

.pp {
  flex:1;
}

.dis {
  flex:1;
}





.amount  {
  display:block;
  background-color: #327556;
  color: white;
  font-size: 20px;
  text-align:left;
}

.amount li {
  list-style:none;
  padding:5px;

}

.donors {
  color:white;
  font-size:1.25em;
  display: block;
  background-color: #327556	;
}


.names {
  font-size:1.15em;
  color:black;
  text-decoration:underline;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
