img {
  border-style: none;
  width: 100%;
  display: block;
}

#logo {
  width: 100%;
  height: 100%;
  display: block;
}

#logo1 { /*big CAT pic*/
  width: 100%;
  height: 100%;
  display: block;
}

#logo2 { /*mobile desktop logo*/
  width: 100%;
  height: 100%;
  display: block;
}

body{
  margin: 0 auto;
}
.input[type=text]{
  width: 130px;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
  color:#208a43;
  font-weight: lighter;
  text-align:center;
}

h2 {
  color: #12572c;
  font-size: 2em;
  font-family:'Roboto Condensed', sans-serif;
  text-decoration: underline;
}


h3 {
  font-size: .75em;
  text-align:right;
  }

p{
  font-size: 0.9em;
  font-family: 'Libre Baskerville', serif;
  color: black;
}

#topnav li {
  float: right;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 18%;
}

#submit a:link{
  font-family:'Roboto Condensed', sans-serif;
  display: block;
  color: #ffffff;
  background-color: #f1ad1d;
  text-align: center;
  text-decoration: none;
  padding: 6px;
  border-style: solid;
  border-width: medium;
  border-color: #ffffff;
}
#submit a:visited{
  font-family:'Roboto Condensed', sans-serif;
  display: block;
  color: #ffffff;
  background-color: #f1ad1d;
  text-align: center;
  text-decoration: none;
  padding: 6px;
  border-style: solid;
  border-width: medium;
  border-color: #ffffff;
}
#submit a:active{
  font-family:'Roboto Condensed', sans-serif;
  display: block;
  color: #000000;
  background-color: white;
  text-align: center;
  text-decoration: none;
  padding: 6px;
  border-style: solid;
  border-width: medium;
  border-color: #ffffff;
}
#submit a:hover{
  font-family:'Roboto Condensed', sans-serif;
  display: block;
  color: #12572c;
  background-color: white;
  text-align: center;
  text-decoration: none;
  padding: 6px;
  border-style: solid;
  border-width: medium;
  border-color: #ffffff;
}
#donate a:link {
  font-family:'Roboto Condensed', sans-serif;
  display: block;
  color: #ffffff;
  background-color: #1d65d4;
  text-align: center;
  text-decoration: none;
  padding: 6px;
  border-style: solid;
  border-width: medium;
  border-color: #ffffff;
}
#donate a:visited {
  font-family:'Roboto Condensed', sans-serif;
  display: block;
  color: #ffffff;
  background-color: #1d65d4;
  text-align: center;
  text-decoration: none;
  padding: 6px;
  border-style: solid;
  border-width: medium;
  border-color: #ffffff;
}
#donate a:active{
  font-family:'Roboto Condensed', sans-serif;
  display: block;
  color: #;
  background-color: white;
  text-align: center;
  text-decoration: none;
  padding: 6px;
  border-style: solid;
  border-width: medium;
  border-color: #ffffff;
}
#donate a:hover{
  font-family:'Roboto Condensed', sans-serif;
  display: block;
  color: #12572c;
  background-color: white;
  text-align: center;
  text-decoration: none;
  padding: 6px;
  border-style: solid;
  border-width: medium;
  border-color: #ffffff;
}

#topnav li {
  float: right;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 18%;
}

.wrapper {
  display: flex;
  flex-flow: wrap;
}

#container{
    width: 95%;
    background-color: #fff;
    margin: 0 auto;
    text-decoration: none;
}

.header, .main, .footer{
  flex: 1 100%;
  padding: 10px;
}

.navcontainer {
	padding: 0px;
		background: #fff;
	  border-radius: 5px;
		margin: 20px auto;
	  box-shadow: 0 1.5px 0 0 rgba(0,0,0,0.1);
	}

	.item {
	color: #fff;
	padding: 15px;
	margin: 5px;
	background: #208a43;
	border-radius: 3px;
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
}

.navcontainer ul li {
	display: block;
  flex-direction: row;
justify-content: space-around;/*puts equal amounts of space around each item*/
align-content: stretch;/*default; stretches items to take up space*/
flex-wrap: wrap;
}

.navcontainer {
  display: none;
}

@media screen and (min-width: 0px) {
	.navcontainer {
		flex-direction: column;
		justify-content: flex-start;
	}
	p {
		width: 95%;
		margin: 1em auto;
	}
	#sidebar {
		display: none;
	}
  #logo {
    display: none;
  }

}


@media screen and (min-width: 600px) {
	.navcontainer {
    justify-content: space-around;
    justify-content: flex-start;
    display:flex;
    flex-flow:row;
	}
  .menu-trigger {
    display: none;
  }
	p {
		width: 80%;
		margin: 1em auto;
	}
	#sidebar {
		display: block;
	}
  #logo{
    display: block;
  }
  #logo1{
    display: none;
  }
  #logo2{
    display: none;
  }
}




@media screen and (min-width: 1000px) {
	.navcontainer {
		flex-direction: row;
		justify-content: flex-start;
		justify-content: space-around;/*puts equal amounts of space around each item*/
	}
	p {
		width: 80%;
		max-width: 60em;
		margin: 1.5em auto;
	}
  #logo1{
    display: none;
  }
  #logo2{
    display: none;
  }
}

.menu-trigger {
  order: 1;
  font-size: 5em;
  width: 5em;
  text-decoration: none;
}
